.divPrincipal{
min-height: 100vh;
background-color: #aad1a3;
}

.caixaFuncoesPrincipal{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 100px;
}

.caixaFuncoes{
display: flex;
gap: 45px;
padding: 30px;
}

.funcoes{
width: 300px;
height: 200px;
border-radius: 10px;
border: 1px solid #ffffff;
display: flex;
align-items: center;
cursor: pointer;
padding: 10px;
background-color: #dddddd;
}

.funcoes:hover{
opacity: 0.8;
}
